nav {
    background: var(--main-color-2);
    box-sizing: border-box;
    color: var(--secondary-color-1);
    left: 50%;
    margin: auto;
    padding: 1rem;
    position: fixed;
    top: 0;
    transform: translate(-50%, 0);
    width: 480px;
}